<?xml version="1.0" encoding="utf-8"?>
<!--
  File: AndroidManifest.xml
  Ý nghĩa: Khai báo cấu hình, quyền và thành phần chính của app Android.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Quyền truy cập Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Quyền đọc bộ nhớ ngoài (legacy, Android 10+ nên hạn chế) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_sercurity_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <!-- MainActivity: entry point của app -->
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />   <!-- Định nghĩa đây là app launcher -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Đăng nhập/Đăng ký -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        
        <!-- ========== User ========== -->
        <activity
            android:name=".activities.UserDetailFirm"
            android:exported="false" />
        <activity
            android:name=".activities.UserShowListBroadcast"
            android:exported="false" />
        <activity
            android:name=".activities.UserShowSeatsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UserMainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UserAdminShowDetailTicket"
            android:exported="false" />
        <activity
            android:name=".activities.UserActivityHistoryBookingTicket"
            android:exported="false" />
        <activity
            android:name=".activities.UserActivityProfile"
            android:exported="false" />
        <activity
            android:name=".activities.UserEditProfile"
            android:exported="false" />

        <!-- ========== Admin ========== -->
        <activity
            android:name=".activities.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AdminActivityProfile"
            android:exported="false" />
        <activity
            android:name=".activities.AdminActivityHistoryBooking"
            android:exported="false" />
        <activity
            android:name=".activities.AdminActivityManageRoom"
            android:exported="false" />
        <activity
            android:name=".activities.AdminActivityEditRoom"
            android:exported="false" />
        <activity
            android:name=".activities.AdminActivityAddRoom"
            android:exported="false" />
        <activity
            android:name=".activities.AdminActivityManageFirm"
            android:exported="false" />
        <activity
            android:name=".activities.AdminActivityManageUser"
            android:exported="false" />
        <activity
            android:name=".activities.AdminActivityEditProfileUser"
            android:exported="false" />
        <activity
            android:name=".activities.AdminActivityCreateUser"
            android:exported="false" />
        <activity
            android:name=".activities.AdminDetailFirm"
            android:exported="false" />
        <activity
            android:name=".activities.AdminActivityListBroadcast"
            android:exported="false" />
        <activity
            android:name=".activities.AdminShowSeatsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AdminActivityCreateBroadcast"
            android:exported="false" />
        <activity
            android:name=".activities.AdminActivityCreateNewFirm"
            android:exported="false" />
        <activity
            android:name=".activities.AdminActivityUpdateFirm"
            android:exported="false" />
    </application>

</manifest>
